<div class="card border-secondary">
  <div class="card-header text-dark bg-interno">
    <strong>PESQUISAR USUÁRIO</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="formulario">
          <div class="row">

            <div class="form-group col-md-3">
              <label class="form-control-label" for="inpMatricula">
                <strong>ID</strong>
              </label>
              <input id="inpId" type="text" class="form-control" placeholder="id" formControlName="id"
                [ngClass]="aplicarCSSErro('id')">
              <app-form-mensagem [errors]="id.errors" [mostraErro]="mostrarErro('id')"></app-form-mensagem>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12 text-right">
              <div class="float-right">
                <button type="submit" id="btnPesquisar" class="btn btn-success">
                  <span class="fa fa-save"></span> Pesquisar</button>
                <button type="button" id="btnLimpar" class="btn btn-primary"
                  title='Limpa os campos do critério de pesquisa.' (click)="limpar()">
                  <span class="fa fa-eraser"></span> Limpar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>