.fundo--login {
	/* background-image: url('fundo-login-metrus3.png'); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	overflow: auto;
	background-color: #c9d9ec;
}

/* .container-login {
	border-radius: 10px; 
	box-shadow: 5px 5px #989898; 
	border-style: dotted;
} */

.logo-metrus {
	height:80px;
	width: auto;	
}

.logo-cedae {
	height:50px;
	width: auto;	
}

/* Animação para botão Login */

.icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-left: 2.5em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .icon-forward:before {
    content: "\f090";
    position: absolute;
    left: 1em;
    padding: 0 2px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .icon-forward:hover:before, .icon-forward:focus:before, .icon-forward:active:before {
    animation-duration: 0.75s;
    animation-name: icon-forward;
    animation-timing-function: ease-out;
  }

  @keyframes icon-forward {
    0%,
      50%,
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    25%,
      75% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
}