<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card border-secondary">
                <div class="card-header text-white bg-principal">
                    <i class="fa fa-window-restore"></i>
                    <strong>RELAÇÃO DE USUARIOS</strong>
                </div>

                <br>

                <div class="col-md-12 text-right">
                    <!-- <button type="button" class="btn btn-success" (click)="novo()" title='Inclui uma exceção por dae'>
                        <i class="fa fa-plus text-black"></i> Novo
                    </button> -->
                    <button id="btnTodos" type="button" class="btn btn-primary" (click)="buscarTodos()"
                        title='busca todos os usuários'>
                        <i class="fa fa-plus text-black"></i> Buscar Todos
                    </button>

                </div>

                <div class="card-body">
                    <app-pesquisar-user (executarPesquisa)="executarPesquisa($event)" *ngIf="estadoTela.isBuscar()" (executarLimpeza)="executarLimpeza()"></app-pesquisar-user>
                    <app-cadastrar-user (executarCadastro)="executarCadastro($event)" *ngIf="!estadoTela.isBuscar()"></app-cadastrar-user>
                    <app-grid-users [listaDeUsuarios]="listaDeUsuarios" (executarListarTodos)="executarListarTodos()"*ngIf="estadoTela.isBuscar() && listaDeUsuarios.length>0"> </app-grid-users>
                </div>
            </div>
        </div>
    </div>
</div>